.App {
  text-align: center;
}

button {
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
  min-width: 40px;
}

.post, .customerDetails {
  max-width: 50%;
  margin-left: 30%;
  background-color: orange;
  border-color: orangered;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  margin-top: 1%;
}

.hidebtn {
  transform: translateX(600%);  
}


